In [4]:
# 1. Write a program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# 2. Write a program to print even numbers from 1 to 20 using a for loop.
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:

# 3. Write a program to print each character of a string using a for loop.

In [7]:
# 4. Write a program to print the multiplication table of a given number using a for loop.
a=int(input())
for i in range(1,11):
  print(f"{a}*{i}={a*i}")

22
22*1=22
22*2=44
22*3=66
22*4=88
22*5=110
22*6=132
22*7=154
22*8=176
22*9=198
22*10=220

In [10]:
# 5. Write a program to calculate the sum of the first 10 natural numbers using a for loop.
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [ ]:
# 6. Write a program to count the number of vowels in a string using a for loop.

In [ ]:
# 7. Write a program to print elements of a list using a for loop.

In [ ]:
# 8. Write a program to find the factorial of a number using a for loop.

In [11]:
# 9. Write a program to print squares of numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [15]:
# 10. Write a program to print the reverse of a string using a for loop.
a = 'shon'
for i in a[::-1]:
  print(i)

n
o
h
s

In [17]:
str="krish naik"
for i in str[::-1]:
  print(i)

k
i
a
n

h
s
i
r
k