In [ ]:
##Write a program using a for loop to print numbers from 1 to 10.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
##Use a for loop to print all even numbers between 2 and 20.
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
##Use a for loop to calculate the sum of numbers from 1 to 10.
sum =0
for i in range(1, 11):
  sum=sum+i
print(f"the addition of 1 to 10 is {sum}")

the addition of 1 to 10 is 55

In [ ]:
##Take input n and print the multiplication table of n using a for loop.
multiplication=int(input())
for i in range(1,11):
  table=i*multiplication
  print(table)

2
2
4
6
8
10
12
14
16
18
20

In [ ]:
##Take a string input and use a for loop to count how many vowels it contains.

In [ ]:
##Use a for loop to print characters of a string on separate lines

In [ ]:
##Take input n and use a for loop to find n! (factorial of n).
mult=int(input())
for i in range(1,mult):
  mult=mult*i
print(mult)

6
720

In [ ]:
##Use a for loop to print 1 4 9 16 25 ... 100
for i in range(1,11,1):
  square=i**2
  print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
##Use a for loop to print: 10 9 8 ... 1
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

##While Loop

In [ ]:
## example
count=0

while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [ ]:
## print 1 to 10 using while loop
count=0

while count<=10:
  print(count)
  count=count+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
##Use a while loop to print: 10 9 8 ... 1
count=10

while True:
  print(count)
  count=count-1
  if count==0:
    break

10
9
8
7
6
5
4
3
2
1

In [ ]:
##Use a while loop to calculate the sum of numbers from 1 to 10.
count=0
sum=0

while count<=10:
  sum=sum+count

  count=count+1

print(sum)

55

In [ ]:
##Use a for loop to print all even numbers between 2 and 20.
count=0

while count<=20:
  if count%2==0:
    print(count)
  count=count+1

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
##Take input n and print the multiplication table of n using a for loop.
a=int(input())
b=0
while b<=10:
  print(f"{a} x {b} = {a * b}")
  b=b+1

2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [18]:
##Use a for loop to print: 1 4 9 16 25 ... 100
count=0

while count<=100:
  print(f"square of {count}={count**2}")
  count=count+1

square of 0=0
square of 1=1
square of 2=4
square of 3=9
square of 4=16
square of 5=25
square of 6=36
square of 7=49
square of 8=64
square of 9=81
square of 10=100
square of 11=121
square of 12=144
square of 13=169
square of 14=196
square of 15=225
square of 16=256
square of 17=289
square of 18=324
square of 19=361
square of 20=400
square of 21=441
square of 22=484
square of 23=529
square of 24=576
square of 25=625
square of 26=676
square of 27=729
square of 28=784
square of 29=841
square of 30=900
square of 31=961
square of 32=1024
square of 33=1089
square of 34=1156
square of 35=1225
square of 36=1296
square of 37=1369
square of 38=1444
square of 39=1521
square of 40=1600
square of 41=1681
square of 42=1764
square of 43=1849
square of 44=1936
square of 45=2025
square of 46=2116
square of 47=2209
square of 48=2304
square of 49=2401
square of 50=2500
square of 51=2601
square of 52=2704
square of 53=2809
square of 54=2916
square of 55=3025
square of 56=3136
square of 57=3249
square of 58=3364
square of 59=3481
square of 60=3600
square of 61=3721
square of 62=3844
square of 63=3969
square of 64=4096
square of 65=4225
square of 66=4356
square of 67=4489
square of 68=4624
square of 69=4761
square of 70=4900
square of 71=5041
square of 72=5184
square of 73=5329
square of 74=5476
square of 75=5625
square of 76=5776
square of 77=5929
square of 78=6084
square of 79=6241
square of 80=6400
square of 81=6561
square of 82=6724
square of 83=6889
square of 84=7056
square of 85=7225
square of 86=7396
square of 87=7569
square of 88=7744
square of 89=7921
square of 90=8100
square of 91=8281
square of 92=8464
square of 93=8649
square of 94=8836
square of 95=9025
square of 96=9216
square of 97=9409
square of 98=9604
square of 99=9801
square of 100=10000